PORT=""
DB_URI=""
DB_NAME=""
REDIS_HOST=""
JWT_REFRESH_USER_SECRET=""
JWT_ADMIN_SECRET=""
JWT_REFRESH_ADMIN_SECRET=""
JWT_ACCESS_TOKEN_EXPIRES_IN=""
JWT_REFRESH_TOKEN_EXPIRES_IN=""
JWT_ACCESS_SIGNUTURE=""
JWT_REFRESH_SIGNUTURE=""
JWT_ADMIN_ACCESS_SIGNUTURE=""
JWT_ADMIN_REFRESH_SIGNUTURE=""
ENCRYPTION_KEY=""
BCRYPT_SALT=""

MAIL_SERVICE=""
MAIL_USER=""
MAIL_PASSWORD=""
STRIPE_SECRET_KEY=""
STRIPE_PUBLISH_KEY=""
SUCCESS_URL=""
CANCEL_URL=""
STRIPE_WEBHOOK_SECRET=""
